firebase_functions~=0.1.0
autopep8==2.0.0
certifi==2023.7.22
charset-normalizer==2.1.1
click==8.1.3
cloudinary==1.30.0
Flask==2.3.2
Flask-SQLAlchemy==3.0.2
greenlet==2.0.1
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
pycodestyle==2.10.0
pyTelegramBotAPI==4.8.0
python-dotenv==0.21.0
requests==2.31.0
six==1.16.0
SQLAlchemy==1.4.45
tomli==2.0.1
urllib3==1.26.13
